/* disable image dragging */
img {
    -webkit-user-drag: none; 
    user-drag: none;         
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Contact section  */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.contactImg {
    flex: 1;
    text-align: center;
    min-width: 400px;
}

.contactImg img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}

/* form div */
.contactForum {
    flex: 1;
    max-width: 500px;
}

/* Fieldset and form  */
fieldset {
    border: 2px solid #005f99;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}

legend {
    font-size: 1.5em;
    color: #005f99;
}

/* Input and textarea */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: none;
}

/* Button */
button {
    background-color: #005f99;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004777;
}


/* map */
iframe {
    border-radius: 10px;
    border: none;
}

.location-map, .contact-info {
    flex: 1;
    padding: 0 20px;
}

.location-info {
    display: flex;
    justify-content: space-between; 
    padding: 50px; 
    background-color: #f1f1f1; 
}

.contact-info a{
    text-decoration: none; /* Remove underline */
    color: #000000; 
}

/* Responsive*/
@media (max-width: 800px) {
    .contact {
        flex-direction: column;
        padding: 20px;
    }

    .contactForum {
        width: 80%;
        margin-left: 0;
    }
    
    iframe { 
        width: 100%;
        height: 250px;
    }
    .location-info {
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 800px){
    .contactForum {
        flex: 1;
        margin-left: 2%;
        margin-right: 4%;
        max-width: 500px;
    }
}
