/*Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {

    background: #ffffff;
    display: flex; 
    justify-content: center;
    padding: 20px;
    
   
    .container{
        max-width: 800px;
        margin-top: 200px;
    }
    
    
    
    .general_info {
        margin-bottom: 20px;
        max-width: 700px;
        background: #fff;
        padding: 25px 30px;
        border-radius: 5px;
        border: 1px solid #000;
    }
    
    .general_info .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
    }
    
    .general_info .title::before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 30px;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }
    
    .general_info  .user-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }
    
     .user-details .input_part {
        margin-bottom: 15px;
        width: calc(100%/2 - 20px);
    
    }
    
    .user-details .input-part .details {
        font-weight: 500;
        margin-bottom: 5px;
    }
    
    input {
        height: 45px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 2px;
    }
    
    .input-part, textarea {
        height: 100px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 2px;
    }
    
    .full-width{
        width: 100%;
    }
    
    .about, .work, .education, .skills {
        max-width: 700px;
        width: 100%;
        background: #fff;
        padding: 25px 30px;
        border-radius: 5px;
        margin-bottom: 20px;
        border: 1px solid #000;
    }
    
    .work  .user-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }
    
    #save {
        margin-bottom: 5px;
        padding: 5px 10px;
        border: 1px solid #000;
        background-color: #fff;
        cursor: pointer;
    }
    
}

