/*Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.nav-bar nav{
    position: fixed;
    background: #1b1b1b; /*set nav bar bg color*/
    width: 100%; /*set width*/
    z-index: 12;
}

.nav-bar nav .menu{
    max-width: 1250px; /*list max-width*/
    margin: auto;
    display: flex; /*topic left side and list items right side*/
    align-items: center; /*list items get center*/
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo a{
    text-decoration: none; /*hidden topic link*/
    color: #fff; /*change topic font color*/
    font-size: 30px; /*increase font size*/
    font-weight: 600; /*more bold*/
}

.menu ul{
    display: inline-flex; /*list items get into a line*/
    float: right;
}

.menu ul li{
    list-style: none; /*hidden ul circle*/
    margin-left: 7px; /*set left margin*/
}

.menu ul li a{
    text-decoration: none; /*hidden list items link*/
    color: #fff; /*chant list items font color*/
    font-weight: 500; /*more bold*/
    padding: 8px 15px; /*top and bottom 8, left and right 15*/
    border-radius: 5px;
    transition: all 0.3 ease; /*set all elements,time 0.3 sec,ease means start slow speed up middle and end slow*/   
}

.menu ul li a:hover{
    background: #fff; /*bg color when over mouse pointer*/
    color: #000;
}

/*footer*/

.footer-bar{
    background-color: #24262b; /*set footer bg color*/
    padding: 70px 0;
}

.footer-bar .container{
    max-width: 100%;
    margin: auto;
}

.footer-bar .container .row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col ul{
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}


.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize; /*automaticall conver first letter into capital*/
    font-weight: 500;
    margin-bottom: 30px;
    position: relative; /*used position an element relative to its normal position in the document flow*/
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(77, 132, 191);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3 ease;
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    width: 40px;
    width: 40px;
    background-color: #bbbbbb;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px; /*all set same line*/
    border-radius: 50%;
    color: #fff ;
    transition: 0.5 all ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #fff;
    font-weight: 300;
}


